<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	<style type="text/css">
	.bg-img {
  background-image: url("{% static "image/4.jpg" %}");

  min-height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right:1000px;
  top:70px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color:Black;
  color:Blue;
}
</style>
</head>
<body style=background:Black;color:Blue>
	<div class='bg-img'> 
	<center>
	<h1 style=color:Black;font-weight:Bold;font-family:georgia,garamond,serif;font-style:italic;>H.A.M.S. Bus-Booking Website</h1>
	<form method='POST' class='container'>
		<h2 style=color:Blue;font-weight:Bold;font-family:georgia,garamond,serif;font-style:italic;>Login Form</h2>
		{{ ls.as_p }}
		{% csrf_token %}
		<input type="submit" value="Login">
	</form>
	</center>
</div>
</body>
</html>