<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css'%}">
	<style type="text/css">
	.bg-img {
  background-image: url("{% static "image/2.jpg" %}");

  min-height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
</style>
</head>
<body style=Background:Black;color:Black>
<div class="bg-img">
<center>
<marquee><h1>Congrats You have succesfully booked!!</h1></marquee>
<h1>Your bus details are Mailed and Inboxed to you!!Have Great and Safe Journey </h1>
</center>
</div>
</body>
</html>